<%- include("headerUser") -%>
<body>
    <div class="box" id="heading">
    <h1>Group: <%=group.groupName %> </h1>
    </div>
    <div class="box">
    <p>You are in subject: <%=group.groupSubject %> </p>
    <p>Users</p>


    <% groupUsers.forEach(function(user)  { %>
    
        <% var userFirstName = user.firstName %> 
        <% var userLastName = user.lastName %> 
        <li><%=userFirstName + " " + userLastName%></li>
     <% }); %>

    </div>
    <% var newGroupId = groupId %> 
    <a href= <%="/teamCharter/" + newGroupId %>>Team Charter </a>
</body>
</html>