<%- include("headerUser") -%>
<body>
    <div class="box" id="heading">
        <h1>Welcome <%= firstName.firstName %> <%= lastName.lastName %></h1>
    </div>
    <div class="box">
   <a href="/createGroup">Create new Group</a>
   <a href="/joinGroup">Join new Group</a> 

    </div>

    <div class="box">
   <p>Group List</p>

   <% groupList.forEach(function(item)  { %>
    
   <% var newGroupName = item.groupName %> 
   <% var newGroupId = item._id %> 
   <li><a href= <%= "/groupHome/" + newGroupId %> %>><%=newGroupName + " | " + newGroupId%></a></li>
<% }); %>
</div>

</body>
</html>